#container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    width: 99.80%; 
}

.example-card {
    max-width: 400px;
    margin-top: 10px;
    width: fit-content;
}

.containName{
    color: whitesmoke;
}

.contain1{
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 30px;
    font-size: larger;
    color: whitesmoke;
}

.contain2{
    font-size: larger;
    color: whitesmoke;
}

.contain3{
    margin-left: 40px;   
}